In [1]:
import nltk
import pickle
import pandas as pd
from bs4 import BeautifulSoup
from urllib.request import Request, urlopen
import re
import time
import itertools
import string
from nltk.corpus import stopwords
import numpy as np
pd.set_option('mode.chained_assignment',None)
#pickle.dump(sg, open('sg_post_dfv2.pkl', 'bw'))

In [2]:
sg = pickle.load(open('sg_post_df.pkl', 'br'))
sg = sg[['post_number', 'post_txt', 'groups']]
sg = sg.drop_duplicates()
sg = sg.reset_index(drop=True)

In [3]:
print(sg.shape)
sg.sample(5)

(34410, 3)

,post_number,post_txt,groups
25914,100935,"['n I have this, I go back and fourth between...",[' Irritable Bowel Syndrome']
12271,410087,"['n ', 'Help! tomorrow is my exam,I am feelin...",[' College']
1092,622224,"['n ', 'I got divorced last year June. We wer...",[' Divorce']
2381,617444,['n I have talked to many people today. They ...,[' Stress']
3262,599346,['n Iu0027m New here. I was diagnosed in 2lju...,[' HIV']

In [4]:
sg['post_number'] = sg['post_number'].astype(int)
sg['groups'] = sg['groups'].str.strip('[]\'').str.split(',')
sg['post_txt'] = sg['post_txt'].str.strip('[]\'')
print(sg.shape)
sg.sample(5)

(34410, 3)

,post_number,post_txt,groups
11164,460934,"n Feeling frustrated, angry, ocassional pity ...",[ Lymphedema]
25810,149485,"n ', '',","[ Pet Loss, Widow, Grief]"
14549,408502,"n ', 'I am wondering from anyone how many sei...",[ Epilepsy]
20609,300606,n I grow up bullying by my 8 years older sist...,[ Siblings]
977,599025,"n ', 'I am in the 11th grade and starting to ...",[ College]

In [5]:
sg['post_txt'][1]

"n  I feel so trapped and helpless! My husband has borderline personality disorder and when he is well he is so lovely and caring but when he is feeling ill he emotionally abuses me, swears at me, blames me for everything, tells me Iu0027m useless and I am g...', '', "

In [6]:
sg.post_txt = sg.post_txt.apply(lambda x: x.translate(str.maketrans('','',string.punctuation)))
sg.post_txt[1]

'n  I feel so trapped and helpless My husband has borderline personality disorder and when he is well he is so lovely and caring but when he is feeling ill he emotionally abuses me swears at me blames me for everything tells me Iu0027m useless and I am g  '

In [7]:
sg = sg.reset_index(drop=True)
print(sg.shape)

(34410, 3)

In [8]:
grp_sp = pd.DataFrame(sg.groups.values.tolist())
grp_sp.sample(10)

,0,1,2,3,4,5,6,7,8,9,...,73,74,75,76,77,78,79,80,81,82
20658,Lymphedema,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
16798,Cocaine,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
10632,Sciatica,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
13924,Hodgkins Lymphoma,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
7929,Chantix,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
13383,PTSD,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1638,Heart Disease,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1182,Eating Disorder,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
32878,COPD,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
23888,Epilepsy,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [9]:
sg['group_1'] = grp_sp[0]
sg['group_2'] = grp_sp[1]
sg['group_3'] = grp_sp[2]
sg['group_4'] = grp_sp[3]
sg['group_5'] = grp_sp[4]
sg = sg.fillna(value = 'x')

print(len(sg))
sg.sample(5)

34410

,post_number,post_txt,groups,group_1,group_2,group_3,group_4,group_5
15763,314105,n Hi everyone Iu0027m new to this group Iu00...,[ Psoriasis],Psoriasis,x,x,x,x
2177,619621,n Trigger WarningnVery long ra so youu0027re ...,[ Self Harm],Self Harm,x,x,x,x
9647,605718,n Anyone here have thyroid issues I was recov...,[ Nutrition],Nutrition,x,x,x,x
31729,57614,n if any one was support im here im not a tra...,"[ Alcohol, Singles, Emotional Abuse]",Alcohol,Singles,Emotional Abuse,x,x
3756,579771,n I feel so completely and utterly alone Whil...,[ Migraine],Migraine,x,x,x,x

In [10]:
sg = sg.loc[sg['post_txt'].str.len() > 10]
print(len(sg))
sg.sample(5)

33775

,post_number,post_txt,groups,group_1,group_2,group_3,group_4,group_5
33568,44525,n This is a great article that provides natur...,[ Healthy Eating],Healthy Eating,x,x,x,x
23906,137739,n Does anyone with epilepsy have issues w t...,[ Epilepsy],Epilepsy,x,x,x,x
21658,158045,n My name is Mateja and Iu0027m 28 I have di...,[ Diabetes],Diabetes,x,x,x,x
8737,360469,n Days are hard I canu0027t seem to get the n...,[ Narcolepsy],Narcolepsy,x,x,x,x
27191,92400,n I have just moved to a new city with my boy...,"[ Anxiety, Depression, Klonopin]",Anxiety,Depression,Klonopin,x,x

In [11]:
len (sg['group_1'].unique())

248

In [12]:
nltk.download('stopwords')
stop_words = stopwords.words('english')
len(stop_words)

[nltk_data] Downloading package stopwords to
[nltk_data]     /home/ec2-user/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

179

In [13]:
nltk.download('punkt')
import nltk

from nltk.tokenize import word_tokenize # Word Tokenizer
from nltk.corpus import stopwords
from nltk.stem.wordnet import WordNetLemmatizer

def tok_n_clean (txt):
    stop_words = stopwords.words('english')
    word_tokens = word_tokenize(txt)
    lemmatizer = WordNetLemmatizer()
    lowercase_tokens = [w.lower() for w in word_tokens]
    words = [word for word in lowercase_tokens if word.isalpha()]
    words = [w for w in words if not w in stop_words]
    words = [i for i in words if len(i) > 1]
    return words

tok_n_clean(sg['post_txt'][1])

[nltk_data] Downloading package punkt to /home/ec2-user/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

['feel',
 'trapped',
 'helpless',
 'husband',
 'borderline',
 'personality',
 'disorder',
 'well',
 'lovely',
 'caring',
 'feeling',
 'ill',
 'emotionally',
 'abuses',
 'swears',
 'blames',
 'everything',
 'tells',
 'useless']

In [14]:
lst= sg['post_txt'].tolist()
len(lst)

33775

In [15]:
def column_tok (col):
    lst= col.tolist()
    tok_lst = []
    for i in range (0, len(lst)):
        tok_lst.append(tok_n_clean(lst[i]))
    return tok_lst

sg['post_txt'] = column_tok (sg['post_txt'])
sg.sample(5)

,post_number,post_txt,groups,group_1,group_2,group_3,group_4,group_5
27719,141653,"[yrs, old, always, learning, disability, stati...",[ Learning Disability],Learning Disability,x,x,x,x
33331,59236,"[hello, looking, agoraphobic, housebound, peop...",[ Agoraphobia],Agoraphobia,x,x,x,x
18345,395983,"[everyone, born, hawaii, spe, life, georgia]",[ Shyness],Shyness,x,x,x,x
16633,409131,"[adult, crayon, colors, lol]","[ Agoraphobia, Anxiety, Loneliness]",Agoraphobia,Anxiety,Loneliness,x,x
12783,384858,"[feel, sick, empty, gambler, yet, let, wife, c...",[ Gambling],Gambling,x,x,x,x

In [16]:
sg_X = sg[['post_txt', 'post_number']]
print(sg_X.shape)

(33775, 2)

In [17]:
g = ['group_1', 'group_2', 'group_3', 'group_4', 'group_5']
sg_y = sg[g]
print(sg_y.shape)
sg_y.sample()

(33775, 5)

         group_1 group_2 group_3 group_4 group_5
10666   Sciatica       x       x       x       x

In [18]:
sg_y.dtypes

group_1    object
group_2    object
group_3    object
group_4    object
group_5    object
dtype: object

In [19]:
def clean_y (txt):
        word_tokens = word_tokenize(txt)
        lowercase_tokens = [w.lower() for w in word_tokens]
        words = [word for word in lowercase_tokens if word.isalpha()]
        words = ' '.join(words)
        return words

def clean_y_col(col):
    new = []
    c = col.tolist()
    for j in range(0, len(c)):
        new.append(clean_y(c[j]))
    return new

sg_y['group_1'] = clean_y_col(sg_y['group_1'])
sg_y['group_2'] = clean_y_col(sg_y['group_2'])
sg_y['group_3'] = clean_y_col(sg_y['group_3'])
sg_y['group_4'] = clean_y_col(sg_y['group_4'])
sg_y['group_5'] = clean_y_col(sg_y['group_5'])        
print(sg_y.shape)
sg_y.sample(5)

(33775, 5)

                 group_1                group_2 group_3 group_4 group_5
20889               acne                      x       x       x       x
20187           shingles                      x       x       x       x
13937  hodgkins lymphoma                      x       x       x       x
32005         depression  non hodgkins lymphoma       x       x       x
4847                 pms                      x       x       x       x

In [20]:
okList = np.unique(sg_y[['group_1']].values)
okList

array(['abuse', 'acne', 'adderall', 'adhd', 'adoption',
       'adoption and fostering', 'agoraphobia', 'alcohol', 'alzheimers',
       'ambien', 'amputee', 'anemia', 'anger management', 'anorexia',
       'anxiety', 'arthritis', 'asperger syndrome', 'asthma', 'ativan',
       'autism', 'back pain', 'bedwetting', 'binge eating', 'bipolar',
       'birth defects', 'bisexuality', 'bladder cancer',
       'body dysmorphic disorder', 'bone cancer',
       'borderline personality disorder', 'brain cancer', 'brain injury',
       'breast cancer', 'breastfeeding', 'bulimia', 'bullying', 'burn',
       'caffeine', 'career changes', 'caregivers',
       'carpal tunnel syndrome', 'celiac disease', 'cerebral palsy',
       'cervical cancer', 'chantix', 'chemotherapy',
       'chronic fatigue syndrome', 'chronic pain', 'cirrhosis', 'cocaine',
       'codependency', 'college', 'colon cancer', 'colorectal cancer',
       'coming out', 'copd', 'crohns disease', 'cymbalta',
       'cystic fibrosis', 'dads', 'dementia', 'depression', 'diabetes',
       'diverticulitis', 'divorce', 'dizziness', 'down syndrome', 'drug',
       'dyslexia', 'eating disorder', 'ecstasy', 'eczema', 'ednos',
       'emotional abuse', 'endometriosis', 'epilepsy',
       'erectile dysfunction', 'exercise addiction', 'family',
       'fibromyalgia', 'financial problems', 'food allergy',
       'friends and family of addicts', 'friends and family of bpd',
       'friends and family of sex addicts', 'gambling', 'gay and lesbian',
       'graves disease', 'grief', 'hair loss', 'healthy eating',
       'healthy sex', 'heart attack', 'heart disease', 'heartburn',
       'hepatitis c', 'heroin', 'herpes', 'high blood pressure',
       'high cholesterol', 'hiv', 'hives', 'hoarding', 'hocd',
       'hodgkins lymphoma', 'hpv', 'huntingtons disease',
       'hyperthyroidism', 'hypothyroidism', 'hysterectomy',
       'incest survivors', 'infertility', 'infidelity', 'insomnia',
       'internet addiction', 'irritable bowel syndrome', 'jealousy',
       'kidney cancer', 'kleptomania', 'klonopin', 'learning disability',
       'liver cancer', 'loneliness', 'lung cancer', 'lupus',
       'lyme disease', 'lymphedema', 'lyrica', 'marijuana', 'medicaid',
       'medicare', 'menopause', 'metformin', 'meth', 'methadone',
       'migraine', 'military', 'military family', 'miscarriage', 'moms',
       'morphine', 'multiple sclerosis', 'naproxen', 'narcissist',
       'narcolepsy', 'neurontin', 'non hodgkins lymphoma', 'nutrition',
       'obesity', 'ocd', 'online dating', 'osteoporosis',
       'ovarian cancer', 'oxycodone', 'pancreatic cancer', 'panic attack',
       'paranoia', 'parents', 'parkinsons', 'paxil', 'pcos', 'percocet',
       'personality disorder', 'pet loss', 'phobia', 'plastic surgery',
       'pms', 'post partum depression', 'pregnancy',
       'premature ovarian failure', 'prescription drug',
       'prostate cancer', 'psoriasis', 'ptsd', 'rape', 'relationship',
       'retirement', 'rosacea', 'schizophrenia', 'sciatica', 'scoliosis',
       'seasonal affective disorder', 'self esteem', 'self harm',
       'seroquel', 'sex addiction', 'sexual abuse', 'sexual harassment',
       'shingles', 'shopping addiction', 'shyness', 'siblings',
       'single dads', 'single moms', 'single parents', 'singles',
       'skin cancer', 'skin picking', 'sleep apnea', 'sleep walking',
       'smoking', 'social anxiety', 'social security', 'spina bifida',
       'stress', 'stroke', 'stuttering', 'suboxone', 'sugar addiction',
       'suicide', 'surgery', 'teen', 'testicular cancer',
       'thyroid cancer', 'tinnitus', 'transgender', 'trazodone',
       'trichotillomania', 'trying to conceive', 'unemployment', 'valium',
       'vegan', 'vegetarian', 'veterans', 'vicodin',
       'video game addiction', 'weight loss', 'wellbutrin', 'widow',
       'widower', 'xanax', 'zoloft'], dtype=object)

In [21]:
sg_y['groups'] = sg_y[['group_1', 'group_2', 'group_3', 'group_4', 'group_5']].values.tolist()
sg_y = sg_y.drop(columns = ['group_1', 'group_2', 'group_3', 'group_4', 'group_5'])
sg_y.sample(5)

                                                groups
8308                             [shyness, x, x, x, x]
21177                            [anxiety, x, x, x, x]
6044                   [colorectal cancer, x, x, x, x]
5392            [irritable bowel syndrome, x, x, x, x]
234    [friends and family of sex addicts, x, x, x, x]

In [22]:
from sklearn.preprocessing import MultiLabelBinarizer

mlb = MultiLabelBinarizer()
sg_y = sg_y.join(pd.DataFrame(mlb.fit_transform(sg_y.pop('groups')),
                          columns=mlb.classes_,
                          index=sg_y.index))
print(sg_y.shape)
sg_y.sample(5)

(33775, 233)

,abuse,acne,adderall,adhd,adoption,adoption and fostering,agoraphobia,alcohol,alzheimers,ambien,...,veterans,vicodin,video game addiction,weight loss,wellbutrin,widow,widower,x,xanax,zoloft
1042,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
11241,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
32399,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
26487,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
19185,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [23]:
sg_X = sg[['post_txt']].copy()
sg_X

                                                post_txt
0      [year, old, revealed, weeks, ago, dad, loving,...
1      [feel, trapped, helpless, husband, borderline,...
2      [ive, pretty, major, episode, bpd, husbamd, ye...
3      [told, might, post, group, supportni, believe,...
4      [hi, new, middle, divorcing, husband, years, t...
5      [good, morning, step, pare, year, old, girl, r...
6      [destroyed, broken, found, today, moved, someo...
7      [often, bpd, pull, way, back, even, saying, lo...
8      [think, one, difficult, things, separating, bp...
9      [hi, pare, daughter, suffers, bpd, adult, diag...
10     [hi, everyone, recely, began, dating, absolute...
11     [question, timenhave, bpd, support, group, mem...
12     [sweet, baby, jesusnwhy, bs, start, early, try...
13     [happy, todayni, think, discussion, nothing, g...
14     [new, left, bpd, husband, june, last, year, sa...
15     [hi, new, glad, found, group, husband, bpd, pr...
16     [put, boundaries, stop, letting, people, talk,...
17     [bpd, making, headspace, complete, mess, times...
18     [high, anxiety, today, waking, eggshells, spir...
19     [new, group, mama, year, old, hoping, connect,...
20     [tired, feeling, like, deserves, unconditional...
21     [new, wife, bpd, well, bipolar, rapid, cycling...
22     [holidays, three, day, weekends, tough, coact,...
23     [good, morning, everyone, slowly, getting, bet...
24     [trying, figure, latest, conflict, wife, screw...
25     [another, conflict, last, night, leaving, feel...
26     [hopeful, new, year, would, bring, better, day...
27     [feeling, confused, friendships, today, back, ...
28     [last, week, bad, week, started, wednesday, se...
29     [confused, state, morning, frankly, place, tur...
...                                                  ...
34380  [long, time, struggling, day, trying, tough, b...
34381  [caregiver, yrs, yrs, mum, care, elderly, boar...
34382  [late, married, woman, early, stage, breast, c...
34383  [know, wa, wa, live, life, everyone, life, inf...
34384  [hi, name, sue, sure, right, place, need, talk...
34385  [anyone, know, good, stair, lift, use, mother,...
34386  [know, start, need, get, away, need, live, fee...
34387  [frustrating, momes, brain, injured, deaf, hus...
34388  [anyone, else, feel, like, screaming, sometime...
34389  [husband, severe, nuropothy, associated, diabe...
34390  [im, new, husband, going, blind, lots, health,...
34391  [married, years, husband, got, ill, never, rec...
34392  [hello, dad, getting, viole, grouchy, demeia, ...
34393  [hi, new, never, done, today, one, helpless, d...
34394  [good, morning, everyoneni, joined, couple, da...
34395  [hello, dad, getting, viole, grouchy, demeia, ...
34396  [hello, dad, getting, viole, grouchy, demeia, ...
34397  [hello, dad, getting, viole, grouchy, demeia, ...
34398  [hini, caregiver, adult, disabled, daughter, c...
34399  [waed, say, hi, give, everyone, background, un...
34400  [waed, say, hi, give, everyone, background, un...
34401  [understand, taking, one, day, time, sometimes...
34402  [hi, name, tracy, im, new, thismy, fience, act...
34403  [hello, name, cheryl, looking, meet, friends, ...
34404  [hello, plp, year, old, male, years, know, fee...
34405  [started, feelings, girls, around, age, first,...
34406  [years, old, threw, gardien, ship, transfer, m...
34407  [vegetarian, mohs, im, vegan, hard, started, d...
34408  [vegetarian, mohs, im, vegan, hard, started, d...
34409  [may, year, got, staph, infection, right, inde...

[33775 rows x 1 columns]

In [24]:
pickle.dump(sg_y, open('sg_post_lables1.pkl', 'bw'))

In [25]:
pickle.dump(sg_X, open('sg_post_posts1.pkl', 'bw'))